<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.acooly.component.assetmgmt.dao.SecretboxDao">

    <resultMap id="secretboxResultMap" type="cn.acooly.component.assetmgmt.entity.Secretbox">
        <id property="id" column="secretbox_id"/>
        <result property="title" column="secretbox_title"/>
        <result property="typeCode" column="secretbox_type_code"/>
        <result property="secretType" column="secretbox_secret_type"/>
        <result property="username" column="secretbox_username"/>
        <result property="password" column="secretbox_password"/>
        <result property="accessPoint" column="secretbox_access_point"/>
        <result property="serviceType" column="secretbox_service_type"/>
        <result property="subject" column="secretbox_subject"/>
        <result property="createTime" column="secretbox_create_time"/>
        <result property="updateTime" column="secretbox_update_time"/>
        <result property="comments" column="secretbox_comments"/>
    </resultMap>

    <sql id="secretboxSqlSelect">
            secretbox.id as secretbox_ID,
            secretbox.title as secretbox_title,
            secretbox.type_code as secretbox_type_code,
            secretbox.secret_type as secretbox_secret_type,
            secretbox.username as secretbox_username,
            secretbox.password as secretbox_password,
            secretbox.access_point as secretbox_access_point,
            secretbox.service_type as secretbox_service_type,
            secretbox.subject as secretbox_subject,
            secretbox.create_time as secretbox_create_time,
            secretbox.update_time as secretbox_update_time,
            secretbox.comments as secretbox_comments
    </sql>

</mapper>
